@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;700&display=swap');

@import "tailwindcss";
@import "tw-animate-css";

body {
  font-family: var(--font-lato), sans-serif;
}

@custom-variant dark (&:is(.dark *));

@theme {
  /* Container */
  --container-center: true;
  --container-padding: 1rem;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;

  /* Spacing */
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;
  --spacing-40: 10rem;
  --spacing-48: 12rem;
  --spacing-56: 14rem;
  --spacing-64: 16rem;

  --shadow-xs: 0 0 2px 0 rgba(16, 24, 40, 0.05);
  --shadow-sm: 0 1px 3px 0 rgba(16, 24, 40, 0.10), 0 1px 2px 0 rgba(16, 24, 40, 0.06);
  --shadow-md: 0 4px 8px -2px rgba(16, 24, 40, 0.10), 0 2px 4px -2px rgba(16, 24, 40, 0.06);
  --shadow-lg: 0 5px 16px -4px rgba(16, 24, 40, 0.08), 0 4px 6px -2px rgba(16, 24, 40, 0.03);
  --shadow-xl: 0 8px 24px -4px rgba(16, 24, 40, 0.08),
    0 5px 8px -4px rgba(16, 24, 40, 0.03);
  --shadow-2xl: 0 12px 48px -12px rgba(16, 24, 40, 0.18);
  --shadow-3xl: 0 24px 64px -12px rgba(16, 24, 40, 0.14);

      /* font colors */
  --color-fontcol-bodytext : #344054 ;
  --color-fontcol-default : #101828 ; 

  /* colors */
  --color-base-white: #ffffff;
  --color-base-black: #000000;
  --color-label-text: rgba(52, 64, 84, 1);
  --color-bg-frame: rgba(252, 252, 253, 1);
  --color-bg-info: rgba(237, 243, 249, 1);
  --color-bg-default: rgba(255, 255, 255, 1);
  --color-bg-stroke-default: rgba(208, 213, 221, 1);

  --color-primary-25: #fcfaff;
  --color-primary-50: #edf3f9;
  --color-primary-100: #cce0f5;
  --color-primary-200: #99c2eb;
  --color-primary-300: #66a3e0;
  --color-primary-400: #3385d6;
  --color-primary-500: #005cb8;
  --color-primary-600: #0055a4;
  --color-primary-700: #004a8c;
  --color-primary-800: #003f75;
  --color-primary-900: #00335f;

  --color-error-25: #fffbfa;
  --color-error-50: #fef3f2;
  --color-error-100: #fee4e2;
  --color-error-200: #fecdca;
  --color-error-300: #fda29b;
  --color-error-400: #f97066;
  --color-error-500: #f04438;
  --color-error-600: #d92d20;
  --color-error-700: #b42318;
  --color-error-800: #912018;
  --color-error-900: #7a271a;

  --color-warning-25: #fffcf5;
  --color-warning-50: #fffaeb;
  --color-warning-100: #fef0c7;
  --color-warning-200: #fedf89;
  --color-warning-300: #fec84b;
  --color-warning-400: #fdb022;
  --color-warning-500: #f79009;
  --color-warning-600: #dc6803;
  --color-warning-700: #b54708;
  --color-warning-800: #93370d;
  --color-warning-900: #7a2e0e;

  --color-success-25: #f6fef9;
  --color-success-50: #ecfdf3;
  --color-success-100: #d1fadf;
  --color-success-200: #a6f4c5;
  --color-success-300: #6ce9a6;
  --color-success-400: #32d583;
  --color-success-500: #12b76a;
  --color-success-600: #039855;
  --color-success-700: #027a48;
  --color-success-800: #05603a;
  --color-success-900: #054f31;

  --color-gray-blue-25: #fcfcfd;
  --color-gray-blue-50: #f8f9fc;
  --color-gray-blue-100: #eaecf5;
  --color-gray-blue-200: #d5d9eb;
  --color-gray-blue-300: #b3b8db;
  --color-gray-blue-400: #717bbc;
  --color-gray-blue-500: #4e5ba6;
  --color-gray-blue-600: #3e4784;
  --color-gray-blue-700: #363f72;
  --color-gray-blue-800: #293056;
  --color-gray-blue-900: #101323;

  --color-gray-cool-25: #fcfcfd;
  --color-gray-cool-50: #f9f9fb;
  --color-gray-cool-100: #eff1f5;
  --color-gray-cool-200: #dcdfea;
  --color-gray-cool-300: #b9c0d4;
  --color-gray-cool-400: #7d89b0;
  --color-gray-cool-500: #5d6b98;
  --color-gray-cool-600: #4a5578;
  --color-gray-cool-700: #404968;
  --color-gray-cool-800: #30374f;
  --color-gray-cool-900: #111322;

  --color-gray-modern-25: #fcfcfd;
  --color-gray-modern-50: #f8fafc;
  --color-gray-modern-100: #eef2f6;
  --color-gray-modern-200: #e3e8ef;
  --color-gray-modern-300: #cdd5df;
  --color-gray-modern-400: #9aa4b2;
  --color-gray-modern-500: #697586;
  --color-gray-modern-600: #4b5565;
  --color-gray-modern-700: #364152;
  --color-gray-modern-800: #202939;
  --color-gray-modern-900: #121926;

  --color-gray-neutral-25: #fcfcfd;
  --color-gray-neutral-50: #f9fafb;
  --color-gray-neutral-100: #f3f4f6;
  --color-gray-neutral-200: #e5e7eb;
  --color-gray-neutral-300: #d2d6db;
  --color-gray-neutral-400: #9da4ae;
  --color-gray-neutral-500: #6c737f;
  --color-gray-neutral-600: #4d5761;
  --color-gray-neutral-700: #384250;
  --color-gray-neutral-800: #1f2a37;
  --color-gray-neutral-900: #111927;

  --color-gray-iron-25: #fcfcfc;
  --color-gray-iron-50: #fafafa;
  --color-gray-iron-100: #f4f4f5;
  --color-gray-iron-200: #e4e4e7;
  --color-gray-iron-300: #d1d1d6;
  --color-gray-iron-400: #a0a0ab;
  --color-gray-iron-500: #70707b;
  --color-gray-iron-600: #51525c;
  --color-gray-iron-700: #3f3f46;
  --color-gray-iron-800: #26272b;
  --color-gray-iron-900: #18181b;

  --color-gray-true-25: #fcfcfc;
  --color-gray-true-50: #fafafa;
  --color-gray-true-100: #f5f5f5;
  --color-gray-true-200: #e5e5e5;
  --color-gray-true-300: #d6d6d6;
  --color-gray-true-400: #a3a3a3;
  --color-gray-true-500: #737373;
  --color-gray-true-600: #525252;
  --color-gray-true-700: #424242;
  --color-gray-true-800: #292929;
  --color-gray-true-900: #141414;

  --color-gray-warm-25: #fdfdfc;
  --color-gray-warm-50: #fafaf9;
  --color-gray-warm-100: #f5f5f4;
  --color-gray-warm-200: #e7e5e4;
  --color-gray-warm-300: #d7d3d0;
  --color-gray-warm-400: #a9a29d;
  --color-gray-warm-500: #79716b;
  --color-gray-warm-600: #57534e;
  --color-gray-warm-700: #44403c;
  --color-gray-warm-800: #292524;
  --color-gray-warm-900: #1c1917;

  --color-moss-25: #fafdf7;
  --color-moss-50: #f5fbee;
  --color-moss-100: #e6f4d7;
  --color-moss-200: #ceeab0;
  --color-moss-300: #acdc79;
  --color-moss-400: #86cb3c;
  --color-moss-500: #669f2a;
  --color-moss-600: #4f7a21;
  --color-moss-700: #3f621a;
  --color-moss-800: #335015;
  --color-moss-900: #2b4212;

  --color-green-light-25: #fafef5;
  --color-green-light-50: #f3fee7;
  --color-green-light-100: #e4fbcc;
  --color-green-light-200: #d0f8ab;
  --color-green-light-300: #a6ef67;
  --color-green-light-400: #85e13a;
  --color-green-light-500: #66c61c;
  --color-green-light-600: #4ca30d;
  --color-green-light-700: #3b7c0f;
  --color-green-light-800: #326212;
  --color-green-light-900: #2b5314;

  --color-green-25: #f6fef9;
  --color-green-50: #edfcf2;
  --color-green-100: #d3f8df;
  --color-green-200: #aaf0c4;
  --color-green-300: #73e2a3;
  --color-green-400: #73e2a3;
  --color-green-500: #16b364;
  --color-green-600: #099250;
  --color-green-700: #087443;
  --color-green-800: #095c37;
  --color-green-900: #084c2e;

  --color-teal-25: #f6fefc;
  --color-teal-50: #f0fdf9;
  --color-teal-100: #ccfbef;
  --color-teal-200: #99f6e0;
  --color-teal-300: #5fe9d0;
  --color-teal-400: #2ed3b7;
  --color-teal-500: #15b79e;
  --color-teal-600: #0e9384;
  --color-teal-700: #107569;
  --color-teal-800: #125d56;
  --color-teal-900: #134e48;

  --color-cyan-25: #f5feff;
  --color-cyan-50: #ecfdff;
  --color-cyan-100: #cff9fe;
  --color-cyan-200: #a5f0fc;
  --color-cyan-300: #67e3f9;
  --color-cyan-400: #22ccee;
  --color-cyan-500: #06aed4;
  --color-cyan-600: #088ab2;
  --color-cyan-700: #0e7090;
  --color-cyan-800: #155b75;
  --color-cyan-900: #164c63;

  --color-blue-light-25: #f5fbff;
  --color-blue-light-50: #f0f9ff;
  --color-blue-light-100: #e0f2fe;
  --color-blue-light-200: #b9e6fe;
  --color-blue-light-300: #7cd4fd;
  --color-blue-light-400: #36bffa;
  --color-blue-light-500: ##0ba5ec;
  --color-blue-light-600: ##0086c9;
  --color-blue-light-700: #026aa2;
  --color-blue-light-800: #065986;
  --color-blue-light-900: #0b4a6f;

  --color-blue-25: #f5faff;
  --color-blue-50: #eff8ff;
  --color-blue-100: #d1e9ff;
  --color-blue-200: #b2ddff;
  --color-blue-300: #84caff;
  --color-blue-400: #53b1fd;
  --color-blue-500: #2e90fa;
  --color-blue-600: #1570ef;
  --color-blue-700: #175cd3;
  --color-blue-800: #1849a9;
  --color-blue-900: #194185;

  --color-blue-dark-25: #f5f8ff;
  --color-blue-dark-50: #eff4ff;
  --color-blue-dark-100: #d1e0ff;
  --color-blue-dark-200: #b2ccff;
  --color-blue-dark-300: #84adff;
  --color-blue-dark-400: #528bff;
  --color-blue-dark-500: #2970ff;
  --color-blue-dark-600: #155eef;
  --color-blue-dark-700: #004eeb;
  --color-blue-dark-800: #0040c1;
  --color-blue-dark-900: #00359e;

  --color-indigo-25: #f5f8ff;
  --color-indigo-50: #eef4ff;
  --color-indigo-100: #e0eaff;
  --color-indigo-200: #c7d7fe;
  --color-indigo-300: #a4bcfd;
  --color-indigo-400: #8098f9;
  --color-indigo-500: #6172f3;
  --color-indigo-600: #444ce7;
  --color-indigo-700: #3538cd;
  --color-indigo-800: #2d31a6;
  --color-indigo-900: #2d3282;

  --color-violet-25: #fbfaff;
  --color-violet-50: #f5f3ff;
  --color-violet-100: #ece9fe;
  --color-violet-200: #ddd6fe;
  --color-violet-300: #c3b5fd;
  --color-violet-400: #a48afb;
  --color-violet-500: #875bf7;
  --color-violet-600: #7839ee;
  --color-violet-700: #6927da;
  --color-violet-800: #5720b7;
  --color-violet-900: #491c96;

  --color-purple-25: #fafaff;
  --color-purple-50: #f4f3ff;
  --color-purple-100: #ebe9fe;
  --color-purple-200: #d9d6fe;
  --color-purple-300: #bdb4fe;
  --color-purple-400: #9b8afb;
  --color-purple-500: #7a5af8;
  --color-purple-600: #6938ef;
  --color-purple-700: #5925dc;
  --color-purple-800: #4a1fb8;
  --color-purple-900: #3e1c96;

  --color-fuchsia-25: #fefaff;
  --color-fuchsia-50: #fdf4ff;
  --color-fuchsia-100: #fbe8ff;
  --color-fuchsia-200: #f6d0fe;
  --color-fuchsia-300: #eeaafd;
  --color-fuchsia-400: #e478fa;
  --color-fuchsia-500: #d444f1;
  --color-fuchsia-600: #ba24d5;
  --color-fuchsia-700: #9f1ab1;
  --color-fuchsia-800: #821890;
  --color-fuchsia-900: #6f1877;

  --color-pink-25: #fef6fb;
  --color-pink-50: #fdf2fa;
  --color-pink-100: #fce7f6;
  --color-pink-200: #fcceee;
  --color-pink-300: #faa7e0;
  --color-pink-400: #f670c7;
  --color-pink-500: #ee46bc;
  --color-pink-600: #dd2590;
  --color-pink-700: #c11574;
  --color-pink-800: #9e165f;
  --color-pink-900: #851651;

  --color-rose-25: #fff5f6;
  --color-rose-50: #fff1f3;
  --color-rose-100: #ffe4e8;
  --color-rose-200: #fecdd6;
  --color-rose-300: #fea3b4;
  --color-rose-400: #fd6f8e;
  --color-rose-500: #f63d68;
  --color-rose-600: #e31b54;
  --color-rose-700: #c01048;
  --color-rose-800: #a11043;
  --color-rose-900: #89123e;

  --color-orange-dark-25: #fff9f5;
  --color-orange-dark-50: #fff4ed;
  --color-orange-dark-100: #ffe6d5;
  --color-orange-dark-200: #ffd6ae;
  --color-orange-dark-300: #ff9c66;
  --color-orange-dark-400: #ff692e;
  --color-orange-dark-500: #ff4405;
  --color-orange-dark-600: #e62e05;
  --color-orange-dark-700: #bc1b06;
  --color-orange-dark-800: #97180c;
  --color-orange-dark-900: #771a0d;

  --color-orange-25: #fefaf5;
  --color-orange-50: #fef6ee;
  --color-orange-100: #fdead7;
  --color-orange-200: #f9dbaf;
  --color-orange-300: #f7b27a;
  --color-orange-400: #f38744;
  --color-orange-500: #ef6820;
  --color-orange-600: #e04f16;
  --color-orange-700: #b93815;
  --color-orange-800: #932f19;
  --color-orange-900: #772917;

  --color-yellow-25: #fefdf0;
  --color-yellow-50: #fefbe8;
  --color-yellow-100: #fef7c3;
  --color-yellow-200: #feee95;
  --color-yellow-300: #fde272;
  --color-yellow-400: #fac515;
  --color-yellow-500: #eaaa08;
  --color-yellow-600: #ca8504;
  --color-yellow-700: #a15c07;
  --color-yellow-800: #854a0e;
  --color-yellow-900: #713b12;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: #000000;
  --card: #ffffff;
  --card-foreground: #000000;
  --popover: #ffffff;
  --popover-foreground: #000000;
  --primary: #0055a4;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: #cce0f5;
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: #d92d20;
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);


    /* Font Sizes */
  --text-display-2xl: 3.75rem;
  --text-display-2xl--line-height: 4.625rem;
  --text-display-2xl--letter-spacing: -0.02em;

  --text-display-xl: 3rem;
  --text-display-xl--line-height: 3.75rem;
  --text-display-xl--letter-spacing: -0.02em;

  --text-display-lg: 2.25rem;
  --text-display-lg--line-height: 2.75rem;
  --text-display-lg--letter-spacing: -0.01em;

  --text-display-md: 1.875rem;
  --text-display-md--line-height: 2.375rem;
  --text-display-md--letter-spacing: -0.01em;

  --text-display-sm: 1.5rem;
  --text-display-sm--line-height: 2rem;
  --text-display-sm--letter-spacing: -0.01em;

  --text-display-xs: 1.25rem;
  --text-display-xs--line-height: 1.875rem;
  --text-display-xs--letter-spacing: -0.01em;

  --text-xl: 1.125rem;
  --text-xl--line-height: 1.75rem;

  --text-lg: 1rem;
  --text-lg--line-height: 1.5rem;

  --text-md: 0.875rem;
  --text-md--line-height: 1.25rem;

  --text-sm: 0.875rem;
  --text-sm--line-height: 1.125rem;

  --text-xs: 12px;
  --text-xs--line-height: 16px;

  /* Font Weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.5);
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

